<script src="{{site.vendorsurl}}/modernizr/dist/modernizr-3.6.0-custom.min.js"></script>
<script src="{{site.vendorsurl}}/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="{{site.jsurl}}/plugins.js"></script>
<script src="{{site.jsurl}}/main.js"></script>

<!--&lt;!&ndash; Google Analytics: change UA-XXXXX-Y to be your site's ID. &ndash;&gt;-->
<!--<script>-->
<!--  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;-->
<!--  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')-->
<!--</script>-->
<!--<script src="https://www.google-analytics.com/analytics.js" async defer></script>-->
